<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856391558994-3msvdp6cr77uoc9rq5er8hebtcfc3pib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856391558994-3msvdp6cr77uoc9rq5er8hebtcfc3pib</string>
	<key>API_KEY</key>
	<string>AIzaSyBH6hgVHBxzKH7GsPaI9YbHJ06_0r6sNmk</string>
	<key>GCM_SENDER_ID</key>
	<string>856391558994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atsushi.WordCam</string>
	<key>PROJECT_ID</key>
	<string>wordcam-203b3</string>
	<key>STORAGE_BUCKET</key>
	<string>wordcam-203b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856391558994:ios:5822cea8d8e684f5f3fc8b</string>
</dict>
</plist>